html {
  font-size: 10px;
  background: url('./img/john-matychuk-gUK3lA3K7Yo-unsplash.jpg') bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

body {
  margin-top: 8rem;

}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: start;
  justify-content: center;
}

.key {
  border: .37rem solid #0f0f0e;
  border-radius: 1.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: #d1cfcb;
  background: rgba(43,42,39, 0.9);
  
}

.playing {
  transform: scale(1.1);
  border-color: #bb1a10;
  box-shadow: 0 0 0.5rem #bb1a10;
}

kbd {
  display: block;
  font-size: 4rem;
  font-family: Roboto Slab, sans-serif;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color:#bb1a10;
}

.img-attribution,
.img-attribution a {
  color: white;
  font-size: 1.2rem;
  text-align: left;
}

.img-attribution {
  margin: 1rem;
}
